@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&family=Josefin+Sans:wght@500;700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburguer {
  cursor: pointer;
  width: 24px;
  height: 23px;
  transition: all 0.25s;
  position: relative;
}

.hamburguer-top,
.hamburguer-middle,
.hamburguer-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 15px;
  left: 13px;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburguer-middle {
  transform: translateY(7px);
}

.hamburguer-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90ged);
}

.open .hamburguer-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburguer-middle {
  display: none;
}

.open .hamburguer-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
